

* {
    margin: 0;
    padding: 0;
}
.spinner {
    width: 150px;
    height: 150px;
    animation: anim 3s infinite;
    margin: 15%;
}
@keyframes anim {

    0%,
    100% {
        border-radius: 50%;
        background-color: greenyellow;
        transform: rotate(0deg);
    }

    50% {
        border-radius: 0%;
        transform: rotate(180deg);
        background-color: dodgerblue;
    }
}

/* правый блок с львом */
.img-conteiner {
    margin: 0;
    float: right;
    /* border-style: solid; */
    /* border-width: 0.5px; */
    padding: 0;
    /* margin-left: 10px; */
}
.img-conteiner>div {
    display: flex;
    /* justify-content: center;*/
    align-items: center;
    flex-direction: column;
}
.img-conteiner>div>img {
    max-width: 300px;
}
.logo-html {
    max-width: 100px;
}


/* h1 эфект переливания */
.text-page {
    padding-left: 80px;
}
.animate-charter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
   
    font-size: 140px;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/* здесь заканчивается код загл. перелевание цвета */

/* Верхняя навигационная панель */
.nav-conteiner {
  display: flex;
  justify-content: space-between;
  background-color: rgb(2, 98, 5);   
}
.nav-conteiner>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    text-decoration: none;
    color: gold;
}
@media (max-width: 900px) {
    .nav-conteiner {
        flex-direction: column;
    }
}

.page {
    display: flex;
    margin: 0px;
    justify-content: space-between;
    
}

.header {
    border-style: solid;
    border-width: 0.9px;
    width: 14%;
    background-color: rgb(127, 255, 127);
}

.section {
    width: 100%;

}

.header>ol {    
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0px;
    padding-bottom: 10px;
}
.header>div {
    width: 100%;
}
.header>div>img {
    width: 100%;
    
}
.header>ol>li>a { 
    text-decoration: none;
    color: #ff00e0;
}
body {
  background-color: rgb(97, 241, 241);
}


.conteiner {
  margin: 20px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  background-color: rgb(2, 104, 22);
  border-style: solid;
  border-width: 0.5px;
}
.conteiner>p {
  
  font-size: 24px;
  /* background-color: rgb(94, 5, 81); */
  color: gold;
}
.main {
    text-align: center;
  
   
}
.conteiner>img {
    max-width: 300px;
}
.imgtochca{
  max-width: 200px;
}
.load {
  margin: 30px;
  border: 16px solid rgb(4, 85, 1);
  border-radius: 50%;
  border-top: 16px solid rgb(248, 203, 4);
  width: 120px;
  height: 120px;
  animation: rotate 2s linear infinite;   
}
@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
